<%= form_for @call, :url => {:action => "create"} do |f| %>
  <table>
    <thead>
      <tr>
        <th>Tel Number</th>
        <th>Delay</th>
        <th></th>
      </tr>    
    </thead>

    <tbody>
        <tr>
          <td><%= f.text_field :tel_num, :maxlength => 14 %></td>
          <td><%= f.text_field :delay, :maxlength => 4 %></td>
  		    <td><%= f.submit "Make Call"%></td>
    </tbody>
  </table>
<% end %>