<h2>Initiate a new call</h2>

<%= render 'new' %>

<br><hr>

<%= render 'list' %>

<br>

<% if flash[:notice] %>
    <div class="notice"><%= flash[:notice] %></div>
<% end %>

<div class="field_with_errors">
<% if flash[:errors] %>
  <% flash[:errors].each do |error| %>
    <li> <%= error %> </li>
  <% end %>
<% end %>
</div>
